<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="text-align: center">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container" style="background-color: gray">
      <h1><b>Encryption</b></h1>
    </div>
  </header>

  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <h3 style="margin: 1em">Encryption type: Caesar Cypher</h3>
    <div class="w3-third w3-container w3-margin-bottom" style="width: auto">
      <div>
        <p>TEXT ABOUT CAESAR CYPHERS</p>
        <h4>Here's an example of a caesar cypher</h4>
        <img src="../../assets/Screen Shot 2020-11-27 at 12.25.38 AM.png" style="width: 60%;">
        <h3>Use a caesar cypher!</h3>
        <input type="text" [(ngModel)]="CCinput">
        <br>
        <button type="button" style="margin: 1em" (click)="encript_caesar()">Encrypt</button>
        <p>{{CCreturnArea}}</p>
      </div>
    </div>
  </div>
<hr style="border-top: solid black;">
  <div class="w3-row-padding">
    <h3 style="margin: 1em">Encryption type: Vigenère Cipher</h3>
    <div class="w3-third w3-container w3-margin-bottom" style="width: 100%">
      <div>
        <p>TEXT ABOUT Vigenère CYPHERS</p>
        <h4>Here's a Vigenère Cipher Table</h4>
        <img src="../../assets/Screen%20Shot%202020-11-27%20at%2012.40.40%20AM.png" style="width: 30%;">
        <h4>Here's an example of the use Vigenère Cipher</h4>
        <img src="../../assets/Screen%20Shot%202020-11-27%20at%2012.42.11%20AM.png" style="width: 60%;">

        <h3>Use a Vigenère Cipher!</h3>
        <input type="text" [(ngModel)]="VCinput" placeholder="Message">
        <br>
        <input type="text" [(ngModel)]="VCShiftinput" placeholder="Shift Key">
        <br>
        <button type="button" style="margin: 1em" (click)="encript_Vingnere()">Encrypt</button>
        <p>{{VCreturnArea}}</p>
      </div>
    </div>
  </div>
  <hr style="border-top: solid black;">
  <div class="w3-row-padding">
    <h3 style="margin: 1em">Encryption type: Public Key Encryption</h3>
    <div class="w3-third w3-container w3-margin-bottom" style="width: 100%">
      <div>
        <p>TEXT ABOUT Public Key Encryption</p>
        <h4>Here's a Vigenère Cipher Table</h4>
        <img src="../../assets/Sectigo-Quantum-Lab-Diagram.png" style="width: 50%;">
        <h2>Interactive Public Key Encryption Process</h2>
        <h3>Step 1: The receiver generates a public key and a private key</h3>
        <p>TEXT EXPLAINING THE ACTIONS OF THE STEP</p>
        <button type="button" style="margin: 1em" (click)="generate_keys()">Generate A Public and Private Key</button>
        <h5>Public Key</h5>
        <textarea readonly>{{publicKeyReturn}}</textarea>
        <h5>Private Key</h5>
        <textarea readonly>{{privateKeyReturn}}</textarea>
        <h3>Step 2: The receiver sends the public key to the computer that sending the message</h3>
        <p>TEXT EXPLAINING THE ACTIONS OF THE STEP</p>
        <h3>Step 3: The messenger encrypts the message using the private key</h3>
        <p>TEXT EXPLAINING THE ACTIONS OF THE STEP</p>
        <h5>Public Key</h5>
        <textarea readonly>{{publicKeyReturn}}</textarea>
        <br>
        <h5>Message to be encrypted</h5>
        <input type="text" [(ngModel)]="PubKeyEncrpMessage" placeholder="Message">
        <br>
        <button type="button" style="margin: 1em" (click)="encript_message_public()">Encrypt</button>
        <h4>Encrypted Message</h4>
        <textarea readonly>{{encryptedMessage}}</textarea>
        <h3>Step 4: Send the encrypted message to the receiver</h3>
        <p>TEXT EXPLAINING THE ACTIONS OF THE STEP</p>
        <h3>Step 5: Thereceiver decrypts the message using the public key</h3>
        <p>TEXT EXPLAINING THE ACTIONS OF THE STEP</p>
        <h5>Private Key</h5>
        <textarea readonly>{{privateKeyReturn}}</textarea>
        <br>
        <h5>Encrypted Message</h5>
        <textarea readonly>{{encryptedMessage}}</textarea>
        <br>
        <button type="button" style="margin: 1em" (click)="decrypt_message_public()">Decrypt</button>
        <h4>Decrypted Message</h4>
        <textarea readonly>{{decryptedMessage}}</textarea>
      </div>
    </div>
  </div>
  <!-- End page content -->
</div>
<footer >
  <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
  <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
  <div class="w3-container" style="background-color: gray">
    <h1><b>Encryption</b></h1>
  </div>
</footer>

</body>
</html>
